body {
    font-family: Arial;
    background: #f4f6f9;
}

.container {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

h2 {
    text-align: center;
}

label {
    margin-top: 10px;
    display: block;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    margin-top: 15px;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.low {
    background: #c8e6c9;
}

.medium {
    background: #fff3cd;
}

.high {
    background: #f8d7da;
}