<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Child Safety Risk Assessment</title>

<style>
body {
    font-family: Arial;
    background: #0f2027;
    color: #fff;
    padding: 20px;
}
select, button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
}
button {
    background: orange;
    font-weight: bold;
}
.card {
    background: #12232e;
    padding: 15px;
    margin-top: 20px;
    border-radius: 6px;
}
</style>
</head>

<body>

<h2>Child Safety Risk Assessment</h2>

<select id="state"></select>
<select id="district"></select>

<button onclick="checkRisk()">Check Risk</button>

<div id="result" class="card"></div>

<script>
const stateSel = document.getElementById("state");
const districtSel = document.getElementById("district");
const result = document.getElementById("result");

fetch("/states")
.then(r => r.json())
.then(states => {
    stateSel.innerHTML = "<option>Select State</option>";
    states.forEach(s => stateSel.innerHTML += `<option>${s}</option>`);
});

stateSel.onchange = () => {
    fetch(`/districts?state=${stateSel.value}`)
    .then(r => r.json())
    .then(d => {
        districtSel.innerHTML = "";
        d.forEach(x => districtSel.innerHTML += `<option>${x}</option>`);
    });
};

function checkRisk() {
    fetch("/predict", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            state: stateSel.value,
            district: districtSel.value
        })
    })
    .then(r => r.json())
    .then(d => {
        result.innerHTML = `
        <b>State:</b> ${d.state}<br>
        <b>District:</b> ${d.district}<br><br>

        <b>IPC Crimes:</b> ${d.ipc}<br>
        <b>SLL Crimes:</b> ${d.sll}<br>
        <b>Total Crimes:</b> ${d.total}<br><br>

        <b>Risk Level:</b> <span style="color:${d.color}">${d.risk_level}</span><br>
        <b>Risk Score:</b> ${d.risk_score}/100<br>
        <b>Model Confidence:</b> ${d.confidence}%
        `;
    });
}
</script>

</body>
</html>
